*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
}

body {
    font-family: 'Oswald', sans-serif;
}

header{
    margin-top: 20px;
    height: 10vh;
}

main {
    margin: 20px;
    min-height: 70vh;
    height: auto;
}

footer {
    height: 10vh;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 45px;
}

h3 {
    font-size: 30px;
}
p {
    font-size: 20px;
}
.hide{
    display: none;
    visibility: hidden;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-responsive {
    height: auto;
    width: auto;
}

.form-control label {
    color: white;
    display: block;
    font-size: 26px;
    width: 100%;
    text-align: center;
}

.form-control input {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 26px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.form-control input.error {
    border: 3px #ce4242 solid;
}

.form-control input.error + small{
    visibility: visible;
}

.form-control small {
    visibility: hidden;
    font-size: 15px;
    display: block;
    margin: 5px 0 10px 0;
    color: #ce4242;
}

.btn {
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
    display: block;
    line-height: 32px;
    font-size: 25px;
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
  
.btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.26), 0 4px 15px 0 rgba(0, 0, 0, 0.26);
}

.cards-list {
    z-index: 0;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.card {
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 50px;
}
  
.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}
  
.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}
  
.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
    font-size: 30px;
    height: 40px;
}

.container{
    width: 50vw;
    height: auto;
    border-radius: 20px;
    padding: 30px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);  
}
    
.bg-dark {
    background-color: #0f2026;
}

.bg-yellow {
   background-color: yellow;
}

.bg-white {
    background-color:  #fff;
}

.bg-orange {
    background-color: #ff5722;
}

.bg-orange:hover {
    background-color:#ff6a3c;
}

.bg-blue-dark {
    background-color: #0d47a1;
}

.bg-blue-dark:hover {
    background-color: #82b1ff ;
}

.bg-blue {
    background-color: #318aac;
}

.bg-blue:hover {
    background-color: #5e9db6;
}

.text-yellow {
    color: #ffff00;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.title-text{
    text-align: center;
    margin: 10px;
}

@media screen and (max-width: 800px) {
    .container{
        width: 80vw;
    }   
}